@import '/partials/variables';

.editor-half {

  position: fixed;
  top: $header-height;
  width: 100%;
  height: 50%;
  margin:0;
  padding:2rem;
  box-sizing: border-box;
  font-size: 1rem;
  border:none;
  border-bottom:0.5rem solid black;

  @media (min-width: 40rem) {
    width:50%;
    height:100%;
    top: $header-height;
    left:0;
    border: none;
    border-right:0.5rem solid black;
  }
}

body {
  padding-top:50%;
  @media (min-width: $breakpoint) {
    padding-top:0;
  }
}